.row.project-block
  .col-md-5
    %img.project-image.img-responsive{alt: "Brandymint projects: anna", src: "images/projects/anna.jpg" }

  .col-md-7
    -#%img.project-icon.pull-left{src: 'images/projects/anna_logo.png'}
    %h2.project-title.pull-left
      Coats'n'Shorts
    .clearfix
    
    .project-features
      - features = ['Hand-crafted illustrations', 'Animations']
      - features.each_with_index do |t, i|
        %span= t

    %p.project-description
      Coats'n'Shorts for iOS, an update to its popular educational dress up game for children under six. Complete with interactive and colorful backgrounds, Coats'n'Shorts teaches children how to choose the right clothes for different seasons, occasions, and holidays. Users proceed through twelve levels by helping Anna mix and match tops, bottoms, and accessories to create the perfect outfit. Ideal for teaching young kids how to match, categorize, and choose clothing, Coats'n'Shorts rewards players with a unique prize upon the completion of each level.

    %h5.technology-title Technologies
    .project-technologies
      - technologies = ['iOS development']
      - technologies.each_with_index do |t, i|
        %span= t
    %h5.technology-title Methodologies
    .project-technologies
      - methodologies = ['Scrum']
      - methodologies.each_with_index do |t, i|
        %span= t
    
    %a.pull-right{href: 'https://itunes.apple.com/ru/app/anin-den/id583847885?mt=8', target: :blank}
      %img{src: 'images/badge_appstore-lrg.gif'}
    .clearfix


    %br


