.row.project-block
  .col-md-5
    %img.project-image.img-responsive{alt: "Brandymint projects: chebru", src: "images/projects/chebru.jpg" }

  .col-md-7
    %h2.project-title
      %img{src: 'images/projects/chebru_logo.svg'}
      //%br
      //%span.text-muted 
    
    -#%h5.project-fetures-title Features
    .project-features
      - features = ['Offline database', 'Google and Yandex maps', 'Geolocation']
      - features.each_with_index do |t, i|
        %span= t

    %p.project-description
   
    %h5.technology-title Technologies
    .project-technologies
      - technologies = ['Android development']
      - technologies.each_with_index do |t, i|
        %span= t
    %h5.technology-title Methodologies
    .project-technologies
      - methodologies = ['Rapid prototyping', 'Scrum']
      - methodologies.each_with_index do |t, i|
        %span= t

    %br


