.row.featurette
  .col-md-7
    %h2.featurette-heading.font-weight-normal
      Convead.com
      %br
      %span.text-muted It'll blow your mind.
    %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  .col-md-5
    %img.featurette-image.img-responsive{alt: "Generic placeholder image", src: "http://lorempixel.com/500/500/abstract", }

