.row.project-block
  .col-md-5
    %img.project-image.img-responsive{alt: "Brandymint projects: InvestCafe", src: "images/projects/investcafe.jpg" }

  .col-md-7
    %h2.project-title
      %img{src: 'images/projects/investcafe_logo.svg'}
      //%br
      //%span.text-muted 
    
    -#%h5.project-fetures-title Features
    .project-features
      - features = ['300,000 pageviews per day', 'Migrating to custom platform', 'Database transfer', 'Custom server-side API', 
          'Redesign', 'Responsive design', 'iOS development']
      - features.each_with_index do |t, i|
        %span= t


    %p.project-description
      Investcafe is Russia’s first independent research firm that provides institutional investors with unbiased analysis 
      and insight from a team of experts.
      %br
      We were involved in this project when it was popular source of market news and analytics.
      The project was growing fast and needed to become scalable and reliable.
      Originally it based on Bitrix CMS and our mission was to develop new platform with bucket of additional features.
      We chose Ruby on Rails and carefully took existing database to the new environment.
      Development included full redesign with responsive design approach.
    
    %h5.technology-title Technologies
    .project-technologies
      - technologies = ['Ruby on Rails', 'Objective-C']
      - technologies.each_with_index do |t, i|
        %span= t
    %h5.technology-title Methodologies
    .project-technologies
      - methodologies = ['Rapid prototyping', 'Scrum', 'Test-driven development']
      - methodologies.each_with_index do |t, i|
        %span= t

    %br


