.row.project-block
  .col-md-5
    %img.project-image.img-responsive{alt: "Brandymint projects: swapurban", src: "images/projects/swapurban.jpg" }

  .col-md-7
    %h2.project-title
      %img{src: 'images/projects/swapurban_logo.svg'}
      //%br
      //%span.text-muted 
    
    -#%h5.project-fetures-title Features
    .project-features
      - features = ['Realtime communication', 'Amazon Search API', 'Geolocation']
      - features.each_with_index do |t, i|
        %span= t

    %p.project-description
      More and more people prefer to exchange between each other instead of buying all new.
      %strong SwapUrban
      focuses on this fact and offers a service to swap books.
      It's based on
      %strong Amazon's book search
      so you can find any book there, add it to your wishlist and get notified if someone offers it (or get rid of your unused books).
      %strong Swap process
      has its own iterface with price balance between offers and wants.
      %strong Realtime chat
      helps to communicate seamless and define exchange details.
      %br
      There's a strong accent on 
      %strong geolocation&ndash;based communities and filtering
      so you don't need to waste your time searching offers nearby.
      %br
      This startup founders came to us with ideas in their bright minds, and we built the product from the very start,
      including paper prototypes and intercative one.
      %br
      SwapUrban is 
      %strong award&ndash;winning participant of Venture Fair 2013 (Kazan, Russia).
    
    %h5.technology-title Technologies
    .project-technologies
      - technologies = ['Ruby on Rails', 'Faye']
      - technologies.each_with_index do |t, i|
        %span= t
    %h5.technology-title Methodologies
    .project-technologies
      - methodologies = ['Rapid prototyping', 'Scrum', 'Test-driven development']
      - methodologies.each_with_index do |t, i|
        %span= t

    %br
    
    %a.pull-right.btn.btn-default.btn-project-link{href: 'http://www.swapurban.com/', target: :blank}
      swapurban.com &rarr;
    .clearfix


    
    %br
