@import variables

.technologies-title
  //margin-bottom: 0

.technologies-container

.tech-logo
  text-align: center
  margin: 5px 20px 10px 0
  padding: 6px 0
  //border-bottom: 1px solid $grayLightest

ul.tech-logos
  margin: 0
  padding: 0

li.tech-logo
  list-style-type: none

.tech-logo-label
  padding: 10px 10px
  font-weight: 300
  height: 40px

.tech-logo-image
  display: block
  height: 40px

//@each $logo in ruby, rails, rspec, clojure, postgres, elasticsearch, redis, html5, css3, haml, sass, coffeescript, backbone, apple, android
  .tech-logo-#{$logo}
    background-image: url("../images/tech_logos/#{$logo}.svg")

