=customNavbar($navbarStyle)
  $navbarBackground: nth($navbarStyle, 1)
  $navbarText: nth($navbarStyle, 2)
  $navbarTextShadowColor: nth($navbarStyle, 3)
  $navbarLinkColor: nth($navbarStyle, 4)
  $navbarLinkColorHover: nth($navbarStyle, 5)
  $navbarLinkColorActive: nth($navbarStyle, 6)
  $navbarLinkBackground: nth($navbarStyle, 7)
  $navbarLinkBackgroundHover: nth($navbarStyle, 8)
  $navbarLinkBackgroundActive: nth($navbarStyle, 9)
  @extend .navbar-inverse
  background: $navbarBackground
  border-bottom: 0
  margin: 0
  color: $navbarText
  .nav.navbar-nav
    margin:
      top: 0
      bottom: 0
    & > li,
    & > .navbar-menu-item,
    .navbar-menu-item
      &.active > a,
      a.active
        color: $navbarLinkColorActive
        background: $navbarLinkBackgroundActive
      & > a,
      a
        color: $navbarLinkColor
        -webkit-font-smoothing: antialiased
        +transition(color 0.2s ease, background 0.2s ease)
        &:hover, &:focus
          color: $navbarLinkColorHover
      & > a
        background: $navbarLinkBackground
        &:hover, &:focus
          background: $navbarLinkBackgroundHover
  .navbar-brand
    color: $navbarLinkColor
    &:hover
      color: $navbarLinkColorHover

=customNavbarPosition($pos: absolute, $top: 0, $z: 1000)
  position: $pos
  top: $top
  z-index: $z
  width: 100%

=customNavbarHeight($navbarHeight, $linkPadding: (15/50)*$navbarHeight)
  min-height: $navbarHeight
  height: $navbarHeight
  .nav.navbar-nav
    & > li,
    .navbar-menu-item
      height: $navbarHeight
      & > a,
      & > .navbar-menu-item-block
        //display: inline-block
        height: $navbarHeight
        padding:
          top: $linkPadding
          bottom: $linkPadding

=eludia-navbar

  .navbar-menu-item
    display: inline-block

  .navbar
    &.navbar-menu
      +customNavbar($navbarMenu)
      +customNavbarPosition(absolute, $navbarSystemHeight, 1000)
      +customNavbarHeight($navbarMenuHeight)
      >.nav.navbar-nav
        display: block
        width: 100%
        overflow: auto
        white-space: nowrap
        & > li
          display: inline-block
          float: none
          @media screen and (min-width: $screen-sm)
            float: none
      .navbar-menu
        display: inline-block

    &.navbar-system
      +customNavbar($navbarSystem)
      +customNavbarPosition(absolute, 0, 1099)
      +customNavbarHeight($navbarSystemHeight, 5px)
      font-size: $navbarSystemFontSize
      .nav.navbar-nav
        float: none
        @media screen and (min-width: $screen-sm)
          float: none
        @media screen and (max-width: $screen-sm)
          background: $navbarSystemBackground
          .navbar-collapse
            border-top: none
        & > li,
        & > .navbar-menu-item,
        .navbar-menu-item
          & > a,
          & > .navbar-menu-item-block
            display: inline-block
      .navbar-toggle
        margin: 0
        padding: 6px
        border: 0
        &, &:hover
          background: none

  .navbar-system-block
    border-left: 1px solid $grayLighter
    @media screen and (max-width: $screen-sm)
      border-left: none


  .navbar-system-title,
  .navbar-system-mode
    text-transform: uppercase
    font-size: 0.85em
    letter-spacing: 1px

  .navbar-system-mode
    margin-left: $grid-gutter-width
    a
      padding:
        left: $grid-gutter-width/2
        right: $grid-gutter-width/2
      &.active
        font-weight: bold


  .nav.navbar-nav
    .navbar-menu-item
      .navbar-system-superpos
        padding:
          left: 10px
          right: 10px
        &.active
          background: darken($navbarSystemBackground, 30%)
          &, a
            color: #fff
            &:hover
              color: #fff

  .navbar-system-superpos-close
    margin-left: 10px
