.navbar.application-navbar
  @extend .navbar-inverse
  background: rgba(0,0,0,0.7)
  //background: none
  border-bottom: 0
  .navbar-toggle
    border: 0

.navbar-brand-logo
  max-width: 120px
  margin-top: 12px


