@import variables

.project-title
  margin:
    //top: 0
    bottom: 10px

.technology-title
  margin:
    top: 20px
    bottom: 4px

.project-description
  font-size: $baseFontSize * 1.2
  line-height: 1.5em

.project-technologies
  & > span
    line-height: 32px
    color: lighten($textColor, 10%)
    padding: 4px
    margin-right: 4px
    border: 1px solid $grayLightest
    white-space: nowrap


