@charset "UTF-8"

@import bootstrap/variables

$gray: rgb(100,100,100)
$grayLight: lighten($gray,30%)
$grayLighter: lighten($gray,40%)
$grayLightest: lighten($gray,50%)
$grayLightestBackground: lighten($grayLightest,5%)
$grayDark: darken($gray,10%)
$grayDarker: darken($gray,20%)
$grayDarkest: rgb(20,20,20)

$greenLight: rgba(143,200,0,1)
$greenDark: rgba(115,160,0,1)
$greenLightTransparent: rgba(143,200,0,0.75)

$brandColor: hsl(75, 100%, 40%)

$blue: #08c
$blueBrandColor: #33A0FF
$white: #fff
$black: #000
$red: #E65151
$green: #44ff67
$orange: #ffae00

$purple: rgb(158, 0, 93)

$blueMuted: adjust-hue(saturate(darken($white,50%),30%), 200%)

$textColor: $grayDark
$textColorDark: $grayDarker


// bootstrap migrating from 2.3.2 to 3.0.0
$linkColor: #08c
$linkColorHover: darken($link-color,10%)

$baseFontSize: $font-size-base

$bodyBackground: #fff

$headingsColor: $textColor
$headingsFontWeight: bold


/* navbar system */

$navbarSystemBackground: #e6e6e6
$navbarSystemText: #666666
$navbarSystemTextShadowColor: transparent
$navbarSystemLinkColor: darken($navbarSystemText, 10%)
$navbarSystemLinkColorHover: $blueBrandColor
$navbarSystemLinkColorActive: $navbarSystemLinkColorHover
$navbarSystemLinkBackground: transparent
$navbarSystemLinkBackgroundHover: transparent
$navbarSystemLinkBackgroundActive: transparent

$navbarSystem: $navbarSystemBackground $navbarSystemText $navbarSystemTextShadowColor $navbarSystemLinkColor $navbarSystemLinkColorHover $navbarSystemLinkColorActive $navbarSystemLinkBackground $navbarSystemLinkBackgroundHover $navbarSystemLinkBackgroundActive


/* navbar menu */

$navbarMenuBackground: $blueBrandColor
$navbarMenuText: lighten($textColor,20%)
$navbarMenuTextShadowColor: rgba(0,0,0,0.3)
$navbarMenuLinkColor: #fff
$navbarMenuLinkColorHover: #fff
$navbarMenuLinkColorActive: #fff
$navbarMenuLinkBackground: transparent
$navbarMenuLinkBackgroundHover: #3d89cc
$navbarMenuLinkBackgroundActive: #3d89cc
$navbarMenuLinkBackgroundHover2: #2470b3
$navbarMenuLinkBackgroundActive2: #2470b3

$navbarMenu: $navbarMenuBackground $navbarMenuText $navbarMenuTextShadowColor $navbarMenuLinkColor $navbarMenuLinkColorHover $navbarMenuLinkColorActive $navbarMenuLinkBackground $navbarMenuLinkBackgroundHover $navbarMenuLinkBackgroundActive

$navbarMenuLevel2: $navbarMenuLinkBackgroundActive $navbarMenuText $navbarMenuTextShadowColor $navbarMenuLinkColor $navbarMenuLinkColorHover $navbarMenuLinkColorActive $navbarMenuLinkBackground $navbarMenuLinkBackgroundHover2 $navbarMenuLinkBackgroundActive2

$navbarMenuLevel3: $navbarMenuLinkBackgroundActive2 $navbarMenuText $navbarMenuTextShadowColor $navbarMenuLinkColor $navbarMenuLinkColorHover $navbarMenuLinkColorActive $navbarMenuLinkBackground $navbarMenuLinkBackgroundHover2 $navbarMenuLinkBackgroundActive2


/* buttons */

$btnPrimaryBackground: $blue
$btnPrimaryBackgroundHighlight: adjust-hue($btnPrimaryBackground, 10%)

$footerBackground: #fff
$hrBorder: #dddddd
$rowHoverBackground:  hsl(200,100%,95%)

