//= require_tree .
@import variables
@import mixins
@import bootstrap
@import bootstrap-responsive
@import fonts

.container
  margin: 0 auto
  max-width: 960px  
  .top-navbar
    margin:
      top: 1em      
      bottom: 4em
    .logo
      float: left
      width: 70%
      a 
        color: green
    .button
      float: right
      width: 30%
      button
        float: right
        height: 24px

.wellcome
  width: 100%
  .big
    font-size: 6em
    line-height: 1.5
  .small
    font-size: 3em
    line-height: 2
