-# Javascripts
= javascript_include_tag 'application'
:javascript
  window.options = {
      container: "#eludia-application-menu",
      urls: {
        exit: '/exit',
        settings: '/settings',
        help: 'http://hixie.ch/tests/adhoc/compat/mozilla/001.cgi?DOCTYPE=&MODE=full&EXPECT=quirks%20mode',
        logo: '/',
        name: '/user',
        combination_cancel: '/cancel',
        combination_setup: '/setup'
      },
      user: {
         name: "Иванов В.И.",
         state: "enabled", // denied, combinated
         // combination_name: "Васильев А.Г."
       }
    }
