-# Javascripts
-#= javascript_include_tag 'application'
%script{src: 'javascripts/application.js'}

:javascript
  window.options = {
      container: "#eludia-application-menu",
      urls: {
        logout: '/auth',
        settings: '/settings',
        quirks_test: 'http://hixie.ch/tests/adhoc/compat/mozilla/001.cgi?DOCTYPE=&MODE=full&EXPECT=quirks%20mode',
        help: '/help',
        logo: '/sample',
        name: '/user',
        combination_cancel: '/combination_cancel',
        combination_setup: '/combination_setup'
      },
      user: {
         name: "Иванов В.И.",
         state: "enabled", // denied, combinated
         // combination_name: "Васильев А.Г."
       }
    }

:javascript
  $(function() {
    now = new Date().getTime();
    $.getJSON("menu.json?" + now, function(data) {
      window.options.menu = data;
      window.Eludia.App.start(window.options);
    });
  });
