-# Javascripts
= javascript_include_tag 'application'

:javascript
   $(function() {
     $.getJSON("menu.json", function(data) {
      window.Eludia.App.start({
          menu: data,
          user: {
             name: "Иванов В.И.",
             state: "combinated",
             combination_name: "Васильев А.Г."
           }
        });
     });
   });
