-# Javascripts
-#= javascript_include_tag 'application'
%script{src: 'javascripts/application.js'}

:javascript
  window.options = {
      container: "#eludia-application-menu",
      urls: {
        logout: 'logon.html',
        settings: 'settings.html',
        quirks_test: 'http://hixie.ch/tests/adhoc/compat/mozilla/001.cgi?DOCTYPE=&MODE=full&EXPECT=quirks%20mode',
        help: 'help.html',
        logo: 'sample.html',
        name: 'user.html',
        users_twins_cancel: 'users_twins_cancel.html',
        users_twins_setup: 'users_twins_setup.html'
      },
      user: {
         name: "Иванов В.И.",
         state: "enabled", // denied, combinated
         // users_twins_name: "Васильев А.Г."
       }
    }

:javascript
  $(function() {
    now = new Date().getTime();
    $.getJSON("menu.json?" + now, function(data) {
      window.options.menu = data;
      window.Eludia.App.start(window.options);
    });
  });
