.navbar.navbar-system.navbar-static-top
  .container
    %a.pull-left{href: "#{root_app_path}"}
      .navbar-brand App name
      //%img.navbar-brand-logo{src: "#{root_app_path}images/logo_brandymint.svg", alt: 'Brandymint'}
    .clearfix



