%script{type: :layout, role: 'navbar-layout-template'}
  .navbar.navbar-system.navbar-static-top
    .navbar-system-menu{role: 'navbar-system'}
  .navbar.navbar-menu.navbar-static-top
    .navbar-main-menu{role: 'navbar-menu'}

%div{role: 'navbars'}
.navbar-menu-level2{role: 'navbar-menu-level2'}
