.navbar.application-navbar.navbar-static-top
  .container
    %a.pull-left{href: "#{root_app_path}"}
      %img.navbar-brand-logo{src: "#{root_app_path}images/logo_brandymint.svg", alt: 'Brandymint'}
    
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

#hire-us-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close
          &times;
      .modal-body


