.navbar.application-navbar.navbar-fixed-top
  .container
    %a.pull-left{href: "#{root_app_path}"}
      %img.navbar-brand-logo{src: "#{root_app_path}images/logo_brandymint.svg", alt: 'Brandymint'}
    
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar

    .navbar-collapse.collapse
      %ul.nav.navbar-nav.pull-right
        -#%li.active
          %a{href: "#"} Home
        %li
          %a{href: "#{root_app_path}#projects"} Our work
        %li
          %a{href: "#{root_app_path}#contacts"} Contact us
        %li
          %a.btn-hire-us{href: "#", data: {toggle: :modal, target: '#hire-us-modal'} } Hire us
    .clearfix

#hire-us-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %a.close{ 'data-dismiss': 'modal'} &times;
        %h4.modal-title Hire us
      .modal-body
        %p Drop us a line to
        %a{ href: 'mailto:danil@brandymint.ru' } danil@brandymint.ru
        and we'll discuss your project, ideas and vision.
        We also define estimates quite fast and offer flexible process pricing.


