%script{type: :layout, role: 'navbar-layout-template'}
  .navbar.navbar-system.navbar-static-top
    .container{role: 'navbar-system'}
  .navbar.navbar-menu.navbar-static-top
    .container{role: 'navbar-menu'}
%div{role: 'navbars'}
