<h2>backbone.js / Малик Бактияров</h2>
<iframe src="http://vk.com/video_ext.php?oid=12882460&id=163272170&hash=f3a6b46ab50661a4&sd" width="607" height="360" frameborder="0"></iframe>
<hr/>

<h2>Debugging rails applications for dummies / Андрей Суббота</h2>
<iframe src="http://vk.com/video_ext.php?oid=12882460&id=163272188&hash=2b4a79e60a9076dc&sd" width="607" height="360" frameborder="0"></iframe>
<hr/>

<h2>STI в Rails-приложениях / Анатолий Пронин</h2>
<iframe src="http://vk.com/video_ext.php?oid=12882460&id=163272194&hash=0c1637119efb827e&sd" width="607" height="360" frameborder="0"></iframe>
<hr/>

<h2>Ruby concurrency / Александр Щербинин</h2>
<iframe src="http://vk.com/video_ext.php?oid=12882460&id=163274340&hash=267f61bb1e865e07&hd=1" width="607" height="360" frameborder="0"></iframe>
<hr/>

<h2>ember.js / Nick Recorba</h2>
<iframe src="http://vk.com/video_ext.php?oid=12882460&id=163272207&hash=d36c8ecabb66410a&sd" width="607" height="360" frameborder="0"></iframe>
<hr/>

<h2>Metaprogramming Ruby / Андрей Куманяев</h2>
<iframe src="http://vk.com/video_ext.php?oid=12882460&id=163272218&hash=9efcdd8f847afc5d&sd" width="607" height="360" frameborder="0"></iframe>
<hr/>

<h2>Ruby Gems / Александр Кириллов</h2>
<iframe src="http://vk.com/video_ext.php?oid=12882460&id=163272240&hash=0b66208428c261e6&sd" width="607" height="360" frameborder="0"></iframe>
<hr/>

<h2>Ruby gems / Михаил Кузьмин</h2>
<iframe src="http://vk.com/video_ext.php?oid=12882460&id=163296362&hash=b6e346cd1c22a862&sd" width="607" height="360" frameborder="0"></iframe>
<hr/>

<h2>Queues / Александр Рожнов</h2>
<iframe src="http://vk.com/video_ext.php?oid=12882460&id=163272201&hash=e62da183795c4bde&hd=1" width="607" height="360" frameborder="0"></iframe>
<hr/>

<h2>bitrix_on_rails / investcafe.ru</h2>
<iframe src="http://vk.com/video_ext.php?oid=12882460&id=163272286&hash=2774ca6b7cf2df16&sd" width="607" height="360" frameborder="0"></iframe>
<hr/>

