.page-container-image
  .page-container
    .container
      .row
        .col-md-6.col-md-offset-3.welcome-content
          %h1.welcome-header
            We build
            %br
            //.linebreak-sm
            %strong
              web, mobile
            %br
            //.linebreak-sm.linebreak-md
            and
            %strong backend
          -#%h3.welcome-subheader
            for brands, businesses
            .linebreak-xs
            and startups
          .welcome-subheader
            %a.btn.btn-transparent-white{ href: '#projects' }
              Browse projects
              = ficon 'down-open-1'


          -#.browse-projects
            %a.btn.btn-default.btn-large Browse projects


