.page-container-image
  .page-container
    .container
      .row
        .col-lg-12.welcome-content
          %h1.welcome-header
            We build
            .linebreak-sm
            %strong
              web, mobile
            .linebreak-sm.linebreak-md
            and
            %strong backend
          %h3.welcome-subheader
            for brands, businesses
            .linebreak-xs
            and startups

          -#.browse-projects
            %a.btn.btn-default.btn-large Browse projects


