.container
  %h3 Armed with modern stack of technologies
  %br
  .row
    - tech_logos = [:ruby, :rails, :clojure, :postgres, :elasticsearch, :redis, :html5, :css3, :haml, :sass, :coffeescript, :backbone ]
    -#  :apple, :android
    - tech_logos.each do |logo|
      .col-xs-3.col-sm-2.col-md-1.col-lg-1.tech-logo-block
        //%div{class: "tech-logo tech-logo-#{logo}"}
        %img.tech-logo-image{ src: "images/tech_logos/#{logo}.svg" }
        %br
        -#%small.tech-logo-label.muted= logo
