---
title: brandymint. We build web, mobile, backend for brands, businesses and startups
body_class: index
---

.page-container
  .container
    .row
      .col-lg-12.welcome-content
        %h1.welcome-header
          We build
          .linebreak-sm
          %strong
            web, mobile
          .linebreak-sm.linebreak-md
          and
          %strong backend
        %h3.welcome-subheader for brands, businesses and startups

        -#.browse-projects
          %a.btn.btn-default.btn-large Browse projects


.container.marketing
  .row
    - [:one, :two, :three].each do |title|
      .col-sm-4
        %img.img-circle{alt: "Generic placeholder image", src: "http://lorempixel.com/140/140/abstract", }
        %h2= title
        %p Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
        %p
          %a.btn.btn-default{href: "#"} View details »
.container
  %hr.featurette-divider
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        First featurette heading.
        %span.text-muted It'll blow your mind.
      %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-md-5
      %img.featurette-image.img-responsive{alt: "Generic placeholder image", src: "http://lorempixel.com/500/500/abstract", }
  %hr.featurette-divider/
  .row.featurette
    .col-md-5
      %img.featurette-image.img-responsive{alt: "Generic placeholder image", src: "http://lorempixel.com/500/500/abstract", }
    .col-md-7
      %h2.featurette-heading
        Oh yeah, it's that good.
        %span.text-muted See for yourself.
      %p.lead
        Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
  %hr.featurette-divider
  .row.featurette
    .col-md-7
      %h2.featurette-heading
        And lastly, this one.
        %span.text-muted Checkmate.
      %p.lead Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
    .col-md-5
      %img.featurette-image.img-responsive{alt: "Generic placeholder image", src: "http://lorempixel.com/500/500/abstract", }
  %hr.featurette-divider

