---
title: brandymint. We build web, mobile, backend for brands, businesses and startups
body_class: index
---
.container

  .top-navbar
    .logo
      = link_to 'brandy<strong>mint</strong>', '/', title: 'brandymint mainpage'
    .button
      <button type="button"class="btn" data-toggle="collapse" data-target=".menu-collapse"></button>
  .top-menu 
    %ul.menu-collapse.inline.row-fluid
      %li.span2 menu1
      %li.span2 menu2
      %li.span2 menu Jesus
      %li.span2 no moquetur
      %li.span2 ordo nihil
      %li.span2 liber

  .wellcome
    .big We build <strong>web, mobile, backend</strong>
    .small for brands, businesses and startups

  .browse_projects
    <button class="btn btn-large" type="button"><strong>BROWSE PROJECTS &nbsp;&nbsp;&nbsp; ></strong></button>

