---
title: brandymint. We build web, mobile, backend for brands, businesses and startups
body_class: index
---
.container

  .top-navbar
    .logo
      = link_to 'brandymint', '/'
    .button
      = link_to 'menu', '#j-navbar-top', data: { toggle: :collapse}

  .navbar-top.collapse#j-navbar-top
    %ul.menu-collapse.inline.row-fluid
      %li.span2
        = link_to 'menu1', '/', title: 'menu1'
      %li.span2
        = link_to 'menu2', '/', title: 'menu2'
      %li.span2
  .wellcome
    .big We build <strong>web, mobile, backend</strong>
    .small for brands, businesses and startups

  .browse_projects
    <button class="btn btn-large" type="button"><strong>BROWSE PROJECTS &nbsp;&nbsp;&nbsp; ></strong></button>

