@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museo/museosanscyrl-900italic-webfont.eot');
    src: url('fonts/museo/museosanscyrl-900italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/museosanscyrl-900italic-webfont.woff') format('woff'),
         url('fonts/museo/museosanscyrl-900italic-webfont.ttf') format('truetype'),
         url('fonts/museo/museosanscyrl-900italic-webfont.svg#Museo Sans900_italic') format('svg');
    font-weight: 900;
    font-style: italic;

}

@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museo/museosanscyrl-300-webfont.eot');
    src: url('fonts/museo/museosanscyrl-300-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/museosanscyrl-300-webfont.woff') format('woff'),
         url('fonts/museo/museosanscyrl-300-webfont.ttf') format('truetype'),
         url('fonts/museo/museosanscyrl-300-webfont.svg#Museo Sans300') format('svg');
    font-weight: 300;
    font-style: normal;

}




@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museo/museosanscyrl-100italic-webfont.eot');
    src: url('fonts/museo/museosanscyrl-100italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/museosanscyrl-100italic-webfont.woff') format('woff'),
         url('fonts/museo/museosanscyrl-100italic-webfont.ttf') format('truetype'),
         url('fonts/museo/museosanscyrl-100italic-webfont.svg#Museo Sans100_italic') format('svg');
    font-weight: 100;
    font-style: italic;

}




@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museo/museosanscyrl-100-webfont.eot');
    src: url('fonts/museo/museosanscyrl-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/museosanscyrl-100-webfont.woff') format('woff'),
         url('fonts/museo/museosanscyrl-100-webfont.ttf') format('truetype'),
         url('fonts/museo/museosanscyrl-100-webfont.svg#Museo Sans100') format('svg');
    font-weight: 100;
    font-style: normal;

}




@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museo/museosanscyrl-300italic-webfont.eot');
    src: url('fonts/museo/museosanscyrl-300italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/museosanscyrl-300italic-webfont.woff') format('woff'),
         url('fonts/museo/museosanscyrl-300italic-webfont.ttf') format('truetype'),
         url('fonts/museo/museosanscyrl-300italic-webfont.svg#Museo Sans300_italic') format('svg');
    font-weight: 300;
    font-style: italic;

}




@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museo/museosanscyrl-500-webfont.eot');
    src: url('fonts/museo/museosanscyrl-500-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/museosanscyrl-500-webfont.woff') format('woff'),
         url('fonts/museo/museosanscyrl-500-webfont.ttf') format('truetype'),
         url('fonts/museo/museosanscyrl-500-webfont.svg#Museo Sans500') format('svg');
    font-weight: 500;
    font-style: normal;

}




@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museo/museosanscyrl-500italic-webfont.eot');
    src: url('fonts/museo/museosanscyrl-500italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/museosanscyrl-500italic-webfont.woff') format('woff'),
         url('fonts/museo/museosanscyrl-500italic-webfont.ttf') format('truetype'),
         url('fonts/museo/museosanscyrl-500italic-webfont.svg#Museo Sans500_italic') format('svg');
    font-weight: 500;
    font-style: italic;

}




@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museo/museosanscyrl-700-webfont.eot');
    src: url('fonts/museo/museosanscyrl-700-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/museosanscyrl-700-webfont.woff') format('woff'),
         url('fonts/museo/museosanscyrl-700-webfont.ttf') format('truetype'),
         url('fonts/museo/museosanscyrl-700-webfont.svg#Museo Sans700') format('svg');
    font-weight: 700;
    font-style: normal;

}




@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museo/museosanscyrl-700italic-webfont.eot');
    src: url('fonts/museo/museosanscyrl-700italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/museosanscyrl-700italic-webfont.woff') format('woff'),
         url('fonts/museo/museosanscyrl-700italic-webfont.ttf') format('truetype'),
         url('fonts/museo/museosanscyrl-700italic-webfont.svg#Museo Sans700_italic') format('svg');
    font-weight: 700;
    font-style: italic;

}




@font-face {
    font-family: 'Museo Sans';
    src: url('fonts/museo/museosanscyrl-900-webfont.eot');
    src: url('fonts/museo/museosanscyrl-900-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/museo/museosanscyrl-900-webfont.woff') format('woff'),
         url('fonts/museo/museosanscyrl-900-webfont.ttf') format('truetype'),
         url('fonts/museo/museosanscyrl-900-webfont.svg#Museo Sans900') format('svg');
    font-weight: 900;
    font-style: normal;

}
